/* mobile width 550/600px, intermediate tablet 500-900px, desktop 1200+ */
.title {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-flow: column;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #808080;
}

/*Not entirely sure if this is needed but it was included in the class example*/
article:last-of-type {
  border-bottom-none;
}





@media screen and (min-width: 1000px;) {
  article {
    display: grid;
    grid-template-columns:
  }
}



  .section1 {
    grid-area: a;
  }

  .ul {
    grid-area: b;
  }

  .section2 {
    grid-area: c;
  }

  .image {
    grid-area: d;
  }
