body {
  background-color: #c6e2ff;
}

h1 {
  color: #808080;
  font-family: "PT Serif", Arial, serif;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
}

.container {
	padding: 10px;
	background: #808080;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 #fbf9f4;
}
.item {
	color: #808080;
	padding: 15px;
	margin: 5px;
	background: #ffc0cb;
	border-radius: 3px;
}

.item {
  flex-grow: 1;
}

p {
  color: #fbf9f4;
  font-family: "Noto Serif", Times, serif;
  font-size: 150%;
  max-width: 1000px;
  text-align: center;
  margin: auto;
}


ul {
  color: #fbf9f4;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  list-style-type: none;
}

/* unvisited link */
a:link {
  color: #fbf9f4;
  text-decoration: underline;
}

/*visited link*/
a:visited {
  color: #808080;
  text-decoration: underline;
}

/*hover link*/
a:hover {
  background-color: #ffc0cb;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
  border: none;
  display: block;
  width: 100%;
  height: auto;
}

.container {
display: flex;
flex-direction: column;
width: 95%
}

@media screen and (min-width: 450px) {
  .container {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
	.container {
		flex-direction: row;
		justify-content: center;
	}
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    grid-template-areas:
    "a b"
    "c d";
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .section1 {
    padding-top: 8em;
  }
  .image {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 25px;
    grid-template-areas:
    "a b"
    "c d";
  }
  .section1 {
    padding-top: 8em;
  }
}


.section1 {
  grid-area: a;
}

.ul {
  grid-area: b;
}

.section2 {
  grid-area: c;
}

.image {
  grid-area: d;
}
